{% extends 'base.html' %}

{% block head %}
<title>Doctor Entry</title>
{% endblock%}

{% block body %}
    <form action="/DoctorEntry" method="POST">
        <center>
        <h1>Doctor Entry</h1>
        <table border="3px">
            <tr><td colspan="2">Enter Details</td></tr>
            <tr><td>First Name : </td><td><input type="text" id="fname" name="fname" placeholder="First Name"></td></tr>
            <tr><td>Last Name : </td><td><input type="text" id="lname" name="lname" placeholder="Last Name"></td></tr>
            <tr><td>Gender : </td><td><input type="radio" id="gender1" name="gender" value="Male" checked>Male 
                <input type="radio" id="gender2" name="gender" value="Female">Female
                <input type="radio" id="gender3" name="gender" value="Other">Other</td>
            </tr>
            <tr><td>Specialization : </td><td><input type="text" id="spec" name="spec" placeholder="General Doctor"></td></tr>
            <tr><td>contact : </td><td><input type="number" id="contact" name="contact" placeholder="+91XXXXXXXXXX"></td></tr>
        </table>
        <br>
        <button type="submit">Push</button>
    </center>
    </form>
<style>
    .flex-container{
        display:flex;
        flex-direction: row;
        gap:20px;
    }
    .flex-container-col{
        display:flex;
        flex-direction: column;
        gap:20px;
    }
</style>
{% endblock %}