{% extends 'base.html' %}
{% block head %}
<title>Hospital Management System</title>
{% endblock %}
{% block body %}
    <form action="/PatientUpdate/{{patient.id}}" method="POST">
        <center>
        <h1>Patient Update</h1>
        <div class="flex-container">
            <div class="box">
                <table border="3px" cellpadding="14px" height="450px">
                    <tr><td colspan="2"><strong><em>Enter Details</em></strong></td></tr>
                    <tr><td>First Name : </td><td><input type="text" id="fname" name="fname" placeholder="First Name" value="{{patient.firstname}}"></td></tr>
                    <tr><td>Last Name : </td><td><input type="text" id="lname" name="lname" placeholder="Last Name" value="{{patient.lastname}}"></td></tr>
                    <tr><td>Gender : </td><td><input type="radio" id="gender1" name="gender" value="Male" checked>Male 
                        <input type="radio" id="gender2" name="gender" value="Female">Female
                        <input type="radio" id="gender3" name="gender" value="Other">Other</td></tr>
                    <tr><td>Blood Group : </td><td><input type="text" id="blood" name="blood" placeholder="BG_RH" value="{{patient.blood_group}}"></td></tr>
                    <tr><td>DOB : </td><td><input type="text" id="dob" name="dob" placeholder="dd/mm/yyyy" value="{{patient.dob}}"></td></tr>
                </table>
            </div>
            <div class="flex-container-col">
            <div class="box">
                <table border="3px" height="225px" width="330px">
                    <tr><td colspan="2"><strong><em>Contact Details</em></strong></td></tr>
                    <tr><td>Contact Number : </td><td><input type="number" id="con" name="con" placeholder="Mobile" value="{{patient.contact}}"></td></tr>
                    <tr><td>Email Id : </td><td><input type="text" id="em" name="em" placeholder="email@provider.com" value="{{patient.email}}"></td></tr>
                    <tr><td>Address : </td><td><textarea id="add" name="add">{{patient.address}}</textarea></td></tr>
                    <tr><td>Emergency Number : </td><td><input type="number" id="econ" name="econ" placeholder="Mobile" value="{{patient.address}}"></td></tr>
                </table>
            </div>
            <div class="box">
                <table border="3px" height="225px" width="330px">
                <tr><td colspan="2"><strong><em>Medical History</em></strong></td></tr>
                <tr><td>Current Medications : </td><td><input type="number" id="cmid" name="cmid" placeholder="Current Medications" value="{{patient.current_medications}}"></td></tr>
                <tr>
                    <td>Status: </td><td><input type="radio" id="stat" name="stat" placeholder="Status" value="Alive" checked>Alive
                    <input type="radio" id="stat" name="stat" placeholder="Status" value="Dead">Dead</td>
                </tr>
                <tr>
                    <td>Insurance Details : </td><td><input type="radio" id="insdets" name="insdet" value="Yes">Yes
                        <input type="radio" id="insdet" name="insdets" value="No" checked>No</td>
                </tr>
                <tr><td>Disease : </td><td><input type="radio" id="dis1" name="dis" placeholder="Complications" value="Yes">Yes
                    <input type="radio" id="dis2" name="dis" placeholder="Complications" value="No" checked>No</td></tr>
                </table>
            </div>
            </div>
            </div>
            <br>
            <button type="submit">Update</button>
        </center>
    </form>
<style>
    .flex-container{
        display:flex;
        flex-direction: row;
        gap:20px;
        justify-content: center;
    }
    .flex-container-col{
        display:flex;
        flex-direction: column;
    }
    .box{
        height:100%;
    }
</style>
{% endblock %}